[submodule "cp.4"]
	path = cp.4
	url = ../cp.4
[submodule "cp.5"]
	path = cp.5
	url = ../cp.5
[submodule "cp.6"]
	path = cp.6
	url = ../cp.6
[submodule "cp.7"]
	path = cp.7
	url = ../cp.7
[submodule "cp.8"]
	path = cp.8
	url = ../cp.8
[submodule "cp.9"]
	path = cp.9
	url = ../cp.9
